body
{
    background: url("./blackAndGold.jpg")50%;
    position: relative;
    background-repeat: round;
    background-size: contain;
    background-attachment: fixed;
    z-index: 1;
}
.wrap {background-color: #bc9b00; border-style: solid; margin-top: 100px; }
.img1{text-align: -webkit-center;}
.img2{text-align: -webkit-center;}
.img1 img{width: 25%; }
.img2 img{width: 25%;}
.headContainer {margin-top: 20px;}
.headRow {text-align: -webkit-center;}
.row1 {text-align: -webkit-center;}
input {margin-bottom: 5px;}
#birthYear {align-self: center; width: fit-content; text-align: -webkit-center;}
#checkAge {width: 100px; border: groove; align-self: center}
#refresh {width: 100px; border: groove; align-self: center}